In [46]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [47]:
data = pd.read_csv('ThiTHPT2018.csv')
data

/var/folders/f7/qm1l4pnj4zngs_4y69yv1g9c0000gn/T/ipykernel_53858/1722914141.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('ThiTHPT2018.csv')

,SoBD,Toan,Van,Anh,Ly,Hoa,Sinh,Su,Dia,GDCD,Unnamed: 10,KhoiA,KhoiB,KhoiC,KhoiD,KhoiA1,Ma Tinh,Ten Tinh,Vung mien
0,1,3.0,3.75,3.0,NaN,NaN,NaN,3.0,6.50,8.25,NaN,NaN,NaN,13.25,9.75,NaN,18,Bac Giang,Mien Bac
1,2,8.8,7.50,9.0,NaN,NaN,NaN,6.0,9.00,8.25,NaN,NaN,NaN,22.50,25.3,NaN,18,Bac Giang,Mien Bac
2,3,6.0,5.50,4.0,5.75,5.50,5.00,NaN,NaN,NaN,NaN,17.25,16.50,NaN,15.5,15.75,18,Bac Giang,Mien Bac
3,4,3.4,5.75,2.6,NaN,NaN,NaN,3.5,4.75,7.25,NaN,NaN,NaN,14.00,11.75,NaN,18,Bac Giang,Mien Bac
4,5,3.8,6.75,3.0,NaN,NaN,NaN,3.5,6.25,8.00,NaN,NaN,NaN,16.50,13.55,NaN,18,Bac Giang,Mien Bac
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744391,744392,4.6,4.50,6.0,3.75,3.00,3.25,NaN,NaN,NaN,NaN,11.35,10.85,NaN,15.1,14.35,52,Ba Ria Vung Tau,Mien Nam
744392,744393,7.0,6.00,5.0,5.25,5.50,4.00,NaN,NaN,NaN,NaN,17.75,16.50,NaN,18,17.25,52,Ba Ria Vung Tau,Mien Nam
744393,744394,5.2,3.50,4.0,6.25,5.50,2.25,NaN,NaN,NaN,NaN,16.95,12.95,NaN,12.7,15.45,52,Ba Ria Vung Tau,Mien Nam
744394,744395,7.8,4.50,5.4,7.50,6.25,3.00,NaN,NaN,NaN,NaN,21.55,17.05,NaN,17.7,20.70,52,Ba Ria Vung Tau,Mien Nam
744395,744396,5.8,3.50,3.0,6.25,4.75,3.25,NaN,NaN,NaN,NaN,16.80,13.80,NaN,12.3,15.05,52,Ba Ria Vung Tau,Mien Nam

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744396 entries, 0 to 744395
Data columns (total 19 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   SoBD         744396 non-null  int64
 1   Toan         741024 non-null  float64
 2   Van          728309 non-null  float64
 3   Anh          659998 non-null  float64
 4   Ly           323353 non-null  float64
 5   Hoa          326981 non-null  float64
 6   Sinh         319605 non-null  float64
 7   Su           446118 non-null  float64
 8   Dia          433221 non-null  float64
 9   GDCD         379034 non-null  float64
 10  Unnamed: 10  0 non-null       float64
 11  KhoiA        321232 non-null  float64
 12  KhoiB        319516 non-null  float64
 13  KhoiC        432605 non-null  float64
 14  KhoiD        656353 non-null  object
 15  KhoiA1       307864 non-null  float64
 16  Ma Tinh      744396 non-null  int64
 17  Ten Tinh     744396 non-null  object
 18  Vung mien    744396 non-null  object
dtypes: float64(14), int64(2), object(3)
memory usage: 107.9+ MB

In [49]:
data.isna().sum()

SoBD                0
Toan             3372
Van             16087
Anh             84398
Ly             421043
Hoa            417415
Sinh           424791
Su             298278
Dia            311175
GDCD           365362
Unnamed: 10    744396
KhoiA          423164
KhoiB          424880
KhoiC          311791
KhoiD           88043
KhoiA1         436532
Ma Tinh             0
Ten Tinh            0
Vung mien           0
dtype: int64

In [50]:
data1 = data.copy()
# Replacing null value with mean of Toan Attribute
data1['Toan'].fillna(data1['Toan'].mean(), inplace= True)
data1['Van'].fillna(data1['Van'].mode()[0], inplace=True)
data1['Anh'] = data1.groupby(['Ten Tinh'], group_keys=False)['Anh'].apply(lambda x: x.fillna(x.mode()))

In [51]:

# tính số giá trị thiếu cho từng cột
missing_values = data1.isnull().sum()

# tính tổng số giá trị trong DataFrame
total_values = np.product(data1.shape)

# tính tỷ lệ giá trị thiếu cho từng cột
missing_ratio = missing_values / total_values

# xác định các cột có tỷ lệ giá trị thiếu >= 0.5
cols_to_drop = missing_ratio[missing_ratio >= 0.5].index.tolist()

# xóa các cột có tỷ lệ giá trị thiếu >= 0.5
data1 = data1.drop(cols_to_drop, axis=1)

In [53]:
data1.dropna(axis=1, how='all',inplace=True)

In [54]:
#điền giá trị '0' cho những ô bị thiếu
data1.fillna('0',inplace=True)

In [55]:
data1.dropna(subset=['Hoa', 'Ly', 'Dia'], inplace=True)

In [56]:
data1.isna().sum()

SoBD         0
Toan         0
Van          0
Anh          0
Ly           0
Hoa          0
Sinh         0
Su           0
Dia          0
GDCD         0
KhoiA        0
KhoiB        0
KhoiC        0
KhoiD        0
KhoiA1       0
Ma Tinh      0
Ten Tinh     0
Vung mien    0
dtype: int64

In [70]:
isna_df = data1.isna()
count_nan = isna_df.sum()
count_nan

SoBD         0
Toan         0
Van          0
Anh          0
Ly           0
Hoa          0
Sinh         0
Su           0
Dia          0
GDCD         0
KhoiA        0
KhoiB        0
KhoiC        0
KhoiD        0
KhoiA1       0
Ma Tinh      0
Ten Tinh     0
Vung mien    0
dtype: int64

In [57]:
scores_A = data.loc[:, ['Toan', 'Ly', 'Hoa']]
scores_A1 = data.loc[:, ['Toan', 'Ly', 'Anh']]
scores_B = data.loc[:, ['Toan', 'Hoa', 'Sinh']]
scores_C = data.loc[:, ['Van', 'Su', 'Dia']]
scores_D = data.loc[:, ['Van', 'Toan', 'Anh', 'Su', 'Dia']]

In [61]:
scaler_A = StandardScaler().fit(scores_A)
scores_A_scaled = scaler_A.transform(scores_A)

scaler_A1 = StandardScaler().fit(scores_A1)
scores_A1_scaled = scaler_A1.transform(scores_A1)

scaler_B = StandardScaler().fit(scores_B)
scores_B_scaled = scaler_B.transform(scores_B)

scaler_C = StandardScaler().fit(scores_C)
scores_C_scaled = scaler_C.transform(scores_C)

scaler_D = StandardScaler().fit(scores_D)
scores_D_scaled = scaler_D.transform(scores_D)

In [65]:
kmeans_A = KMeans(n_clusters=3).fit(scores_A_scaled)
kmeans_A1 = KMeans(n_clusters=3).fit(scores_A1_scaled)
kmeans_B = KMeans(n_clusters=3).fit(scores_B_scaled)
kmeans_C = KMeans(n_clusters=3).fit(scores_C_scaled)
kmeans_D = KMeans(n_clusters=3).fit(scores_D_scaled)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

ValueError: Input X contains NaN.
KMeans does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values