In [3]:
import pandas as pd 
import numpy as np

# Đọc file dữ liệu vào dataFrame
data = pd.read_csv('ThiTHPT2018.csv')
data

/var/folders/f7/qm1l4pnj4zngs_4y69yv1g9c0000gn/T/ipykernel_29635/279134334.py:5: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('ThiTHPT2018.csv')

,SoBD,Toan,Van,Anh,Ly,Hoa,Sinh,Su,Dia,GDCD,Unnamed: 10,KhoiA,KhoiB,KhoiC,KhoiD,KhoiA1,Ma Tinh,Ten Tinh,Vung mien
0,1,3.0,3.75,3.0,NaN,NaN,NaN,3.0,6.50,8.25,NaN,NaN,NaN,13.25,9.75,NaN,18,Bac Giang,Mien Bac
1,2,8.8,7.50,9.0,NaN,NaN,NaN,6.0,9.00,8.25,NaN,NaN,NaN,22.50,25.3,NaN,18,Bac Giang,Mien Bac
2,3,6.0,5.50,4.0,5.75,5.50,5.00,NaN,NaN,NaN,NaN,17.25,16.50,NaN,15.5,15.75,18,Bac Giang,Mien Bac
3,4,3.4,5.75,2.6,NaN,NaN,NaN,3.5,4.75,7.25,NaN,NaN,NaN,14.00,11.75,NaN,18,Bac Giang,Mien Bac
4,5,3.8,6.75,3.0,NaN,NaN,NaN,3.5,6.25,8.00,NaN,NaN,NaN,16.50,13.55,NaN,18,Bac Giang,Mien Bac
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744391,744392,4.6,4.50,6.0,3.75,3.00,3.25,NaN,NaN,NaN,NaN,11.35,10.85,NaN,15.1,14.35,52,Ba Ria Vung Tau,Mien Nam
744392,744393,7.0,6.00,5.0,5.25,5.50,4.00,NaN,NaN,NaN,NaN,17.75,16.50,NaN,18,17.25,52,Ba Ria Vung Tau,Mien Nam
744393,744394,5.2,3.50,4.0,6.25,5.50,2.25,NaN,NaN,NaN,NaN,16.95,12.95,NaN,12.7,15.45,52,Ba Ria Vung Tau,Mien Nam
744394,744395,7.8,4.50,5.4,7.50,6.25,3.00,NaN,NaN,NaN,NaN,21.55,17.05,NaN,17.7,20.70,52,Ba Ria Vung Tau,Mien Nam
744395,744396,5.8,3.50,3.0,6.25,4.75,3.25,NaN,NaN,NaN,NaN,16.80,13.80,NaN,12.3,15.05,52,Ba Ria Vung Tau,Mien Nam

In [4]:
data[data.isnull().any(axis=1)].head()

,SoBD,Toan,Van,Anh,Ly,Hoa,Sinh,Su,Dia,GDCD,Unnamed: 10,KhoiA,KhoiB,KhoiC,KhoiD,KhoiA1,Ma Tinh,Ten Tinh,Vung mien
0,1,3.0,3.75,3.0,NaN,NaN,NaN,3.0,6.50,8.25,NaN,NaN,NaN,13.25,9.75,NaN,18,Bac Giang,Mien Bac
1,2,8.8,7.50,9.0,NaN,NaN,NaN,6.0,9.00,8.25,NaN,NaN,NaN,22.50,25.3,NaN,18,Bac Giang,Mien Bac
2,3,6.0,5.50,4.0,5.75,5.5,5.0,NaN,NaN,NaN,NaN,17.25,16.5,NaN,15.5,15.75,18,Bac Giang,Mien Bac
3,4,3.4,5.75,2.6,NaN,NaN,NaN,3.5,4.75,7.25,NaN,NaN,NaN,14.00,11.75,NaN,18,Bac Giang,Mien Bac
4,5,3.8,6.75,3.0,NaN,NaN,NaN,3.5,6.25,8.00,NaN,NaN,NaN,16.50,13.55,NaN,18,Bac Giang,Mien Bac

In [5]:
# show null values of col
data.isnull().sum()

SoBD                0
Toan             3372
Van             16087
Anh             84398
Ly             421043
Hoa            417415
Sinh           424791
Su             298278
Dia            311175
GDCD           365362
Unnamed: 10    744396
KhoiA          423164
KhoiB          424880
KhoiC          311791
KhoiD           88043
KhoiA1         436532
Ma Tinh             0
Ten Tinh            0
Vung mien           0
dtype: int64

In [6]:
data[['Toan', 'Van', 'Anh']].describe()

                Toan            Van            Anh
count  741024.000000  728309.000000  659998.000000
mean        4.884162       5.443449       3.933543
std         1.440636       1.447770       1.567942
min         0.000000       0.000000       0.000000
25%         3.800000       4.500000       2.800000
50%         5.000000       5.500000       3.600000
75%         6.000000       6.500000       4.600000
max        10.000000       9.750000      10.000000

In [7]:
# Giá trị xuất hiện nhiều nhất của ba môn Toán Văn Anh
data[['Toan', 'Van', 'Anh']].mode()

   Toan  Van  Anh
0   5.4  6.0  3.0

In [23]:
data1 = data.copy()
# Replacing null value with mean of Toan Attribute
data1['Toan'].fillna(data1['Toan'].mean(), inplace= True)

In [25]:
# Replacing null value with mode of Van Attribute
data1['Van'].fillna(data1['Van'].mode()[0], inplace=True)

In [24]:
data1.isnull().sum()

SoBD                0
Toan                0
Van             16087
Anh             84398
Ly             421043
Hoa            417415
Sinh           424791
Su             298278
Dia            311175
GDCD           365362
Unnamed: 10    744396
KhoiA          423164
KhoiB          424880
KhoiC          311791
KhoiD           88043
KhoiA1         436532
Ma Tinh             0
Ten Tinh            0
Vung mien           0
dtype: int64

In [11]:
# Gía trị xuất hiện nhiều nhất của môn Anh theo từng tỉnh
mode_values = data1.groupby('Ten Tinh')['Anh'].apply(lambda x: x.mode())
print(mode_values)

Ten Tinh
 BInh Duong       0    3.8
 BInh Thuan       0    3.4
 Ba Ria Vung Tau  0    3.4
 Bac Giang        0    3.0
 Bac Kan          0    3.0
 Bac Lieu         0    3.2
 Bac Ninh         0    3.0
 Ben Tre          0    3.4
 Binh Dinh        0    3.0
 Binh Phuoc       0    3.2
 Ca Mau           0    3.0
 Can Tho          0    3.0
 Cao Bang         0    2.6
                  1    2.8
 Da Nang          0    3.0
 Dac Lak          0    3.0
 Dak Nong         0    2.6
 Dien Bien        0    2.8
 Dong Nai         0    3.6
 Dong Thap        0    3.4
 Gia Lai          0    2.8
 Ha Giang         0    2.8
 Ha Nam           0    3.2
 Ha Tinh          0    2.8
 Hai Duong        0    3.0
 Ho Chi MInh      0    4.2
 Hoa Binh         0    2.8
 Hue              0    2.8
 Hung Yen         0    2.8
 Khanh Hoa        0    3.2
 Kien Giang       0    3.0
 Kon Tum          0    3.0
 Lai Chau         0    3.2
 Lam Dong         0    3.4
 Lang Son         0    2.6
 Lao Cai          0    2.8
 Long An          0    3.2
 Nam Dinh         0    3.6
 Ninh Binh        0    3.4
 Ninh Thuan       0    3.0
 Phu Tho          0    3.0
 Phu Yen          0    3.2
 Quang Binh       0    3.0
 Quang Nam        0    2.8
 Quang Ngai       0    3.0
 Quang Tri        0    2.8
 Soc Trang        0    2.8
 Tay Ninh         0    2.8
 Thai Binh        0    3.0
 Thai Nguyen      0    2.8
 Thanh Hoa        0    2.8
 Tien Giang       0    3.4
 Tra Vinh         0    3.0
 Tuyen Quang      0    2.8
 Vinh Long        0    3.0
 Vinh Phuc        0    3.0
 Yen Bai          0    2.8
Ha Noi            0    3.0
Hai Phong         0    2.8
Hau Giang         0    2.8
Name: Anh, dtype: float64

In [28]:
# Kết quả của toàn bộ đoạn mã này là cập nhật lại cột 'Anh' trong DataFrame data1 với các giá trị bị thiếu được điền 
# bằng giá trị mode của nhóm tương ứng theo giá trị trong cột 'Ten Tinh'.
data1['Anh'] = data1.groupby(['Ten Tinh'], group_keys=False)['Anh'].apply(lambda x: x.fillna(x.mode()))

In [29]:
data1.isnull().sum()

SoBD                0
Toan                0
Van                 0
Anh                 1
Ly             421043
Hoa            417415
Sinh           424791
Su             298278
Dia            311175
GDCD           365362
Unnamed: 10    744396
KhoiA          423164
KhoiB          424880
KhoiC          311791
KhoiD           88043
KhoiA1         436532
Ma Tinh             0
Ten Tinh            0
Vung mien           0
dtype: int64

In [14]:
# Thay thế những giá trị thiếu bằng 'Không Thi'
data1[['Toan', 'Van', 'Anh', 'Ly', 'Hoa', 'Sinh', 'Su', 'Dia', 'GDCD']].fillna('Không thi')

,Toan,Van,Anh,Ly,Hoa,Sinh,Su,Dia,GDCD
0,3.0,3.75,3.0,Không thi,Không thi,Không thi,3.0,6.5,8.25
1,8.8,7.50,9.0,Không thi,Không thi,Không thi,6.0,9.0,8.25
2,6.0,5.50,4.0,5.75,5.5,5.0,Không thi,Không thi,Không thi
3,3.4,5.75,2.6,Không thi,Không thi,Không thi,3.5,4.75,7.25
4,3.8,6.75,3.0,Không thi,Không thi,Không thi,3.5,6.25,8.0
...,...,...,...,...,...,...,...,...,...
744391,4.6,4.50,6.0,3.75,3.0,3.25,Không thi,Không thi,Không thi
744392,7.0,6.00,5.0,5.25,5.5,4.0,Không thi,Không thi,Không thi
744393,5.2,3.50,4.0,6.25,5.5,2.25,Không thi,Không thi,Không thi
744394,7.8,4.50,5.4,7.5,6.25,3.0,Không thi,Không thi,Không thi
744395,5.8,3.50,3.0,6.25,4.75,3.25,Không thi,Không thi,Không thi

In [15]:

# tính số giá trị thiếu cho từng cột
missing_values = data1.isnull().sum()

# tính tổng số giá trị trong DataFrame
total_values = np.product(data1.shape)

# tính tỷ lệ giá trị thiếu cho từng cột
missing_ratio = missing_values / total_values

# xác định các cột có tỷ lệ giá trị thiếu >= 0.5
cols_to_drop = missing_ratio[missing_ratio >= 0.5].index.tolist()

# xóa các cột có tỷ lệ giá trị thiếu >= 0.5
data1 = data1.drop(cols_to_drop, axis=1)

In [16]:
#xoá trường không có dữ liệu
data1.dropna(axis=1, how='all',inplace=True)

In [17]:
data1.isnull().sum()

SoBD              0
Toan              0
Van               0
Anh               1
Ly           421043
Hoa          417415
Sinh         424791
Su           298278
Dia          311175
GDCD         365362
KhoiA        423164
KhoiB        424880
KhoiC        311791
KhoiD         88043
KhoiA1       436532
Ma Tinh           0
Ten Tinh          0
Vung mien         0
dtype: int64

In [18]:
#điền giá trị '0' cho những ô bị thiếu
data1.fillna('0',inplace=True)

In [19]:
#điền giá trị  NaN cho gía trị bị thiếu
data1 = data1.fillna('NaN')

In [20]:
data1.dropna(subset=['Hoa', 'Ly', 'Dia'], inplace=True)

In [21]:
data1.to_csv('TotnghiepOK.csv', index=False)

In [22]:
data2 = pd.read_csv('./TotnghiepOK.csv')
data2

/var/folders/f7/qm1l4pnj4zngs_4y69yv1g9c0000gn/T/ipykernel_29635/3406373258.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv('./TotnghiepOK.csv')

,SoBD,Toan,Van,Anh,Ly,Hoa,Sinh,Su,Dia,GDCD,KhoiA,KhoiB,KhoiC,KhoiD,KhoiA1,Ma Tinh,Ten Tinh,Vung mien
0,1,3.0,3.75,3.0,0.00,0.00,0.00,3.0,6.50,8.25,0.00,0.00,13.25,9.75,0.00,18,Bac Giang,Mien Bac
1,2,8.8,7.50,9.0,0.00,0.00,0.00,6.0,9.00,8.25,0.00,0.00,22.50,25.3,0.00,18,Bac Giang,Mien Bac
2,3,6.0,5.50,4.0,5.75,5.50,5.00,0.0,0.00,0.00,17.25,16.50,0.00,15.5,15.75,18,Bac Giang,Mien Bac
3,4,3.4,5.75,2.6,0.00,0.00,0.00,3.5,4.75,7.25,0.00,0.00,14.00,11.75,0.00,18,Bac Giang,Mien Bac
4,5,3.8,6.75,3.0,0.00,0.00,0.00,3.5,6.25,8.00,0.00,0.00,16.50,13.55,0.00,18,Bac Giang,Mien Bac
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744391,744392,4.6,4.50,6.0,3.75,3.00,3.25,0.0,0.00,0.00,11.35,10.85,0.00,15.1,14.35,52,Ba Ria Vung Tau,Mien Nam
744392,744393,7.0,6.00,5.0,5.25,5.50,4.00,0.0,0.00,0.00,17.75,16.50,0.00,18,17.25,52,Ba Ria Vung Tau,Mien Nam
744393,744394,5.2,3.50,4.0,6.25,5.50,2.25,0.0,0.00,0.00,16.95,12.95,0.00,12.7,15.45,52,Ba Ria Vung Tau,Mien Nam
744394,744395,7.8,4.50,5.4,7.50,6.25,3.00,0.0,0.00,0.00,21.55,17.05,0.00,17.7,20.70,52,Ba Ria Vung Tau,Mien Nam
744395,744396,5.8,3.50,3.0,6.25,4.75,3.25,0.0,0.00,0.00,16.80,13.80,0.00,12.3,15.05,52,Ba Ria Vung Tau,Mien Nam