In [1]:
#Association Rule

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [2]:
#!pip install mlxtend

In [15]:
#Create transaction database
dataset = [['Milk', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Banana', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Ice cream', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Apple', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [16]:
dataset

[['Milk', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Banana', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Ice cream', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Apple', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [17]:
#Transaction Encoder
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [18]:
df

   Apple  Banana   Corn   Eggs  Ice cream  Kidney Beans   Milk  Onion  Yogurt
0   True   False  False   True      False          True   True   True    True
1   True    True  False   True      False          True  False   True    True
2   True   False  False   True      False          True   True  False   False
3  False   False   True  False       True          True   True  False    True
4   True   False   True   True       True          True  False   True   False

In [19]:
#Using Apriori to find frequent itemset
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets

    support                            itemsets
0       0.8                             (Apple)
1       0.8                              (Eggs)
2       1.0                      (Kidney Beans)
3       0.6                              (Milk)
4       0.6                             (Onion)
5       0.6                            (Yogurt)
6       0.8                       (Eggs, Apple)
7       0.8               (Apple, Kidney Beans)
8       0.6                      (Apple, Onion)
9       0.8                (Eggs, Kidney Beans)
10      0.6                       (Eggs, Onion)
11      0.6                (Milk, Kidney Beans)
12      0.6               (Onion, Kidney Beans)
13      0.6              (Yogurt, Kidney Beans)
14      0.8         (Eggs, Apple, Kidney Beans)
15      0.6                (Eggs, Apple, Onion)
16      0.6        (Apple, Onion, Kidney Beans)
17      0.6         (Eggs, Onion, Kidney Beans)
18      0.6  (Eggs, Apple, Onion, Kidney Beans)

In [20]:
#Mining rules from frequent itemset
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [21]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Apple),0.8,0.8,0.8,1.00,1.25,0.16,inf
1,(Apple),(Eggs),0.8,0.8,0.8,1.00,1.25,0.16,inf
2,(Apple),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
3,(Kidney Beans),(Apple),1.0,0.8,0.8,0.80,1.00,0.00,1.0
4,(Apple),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
5,(Onion),(Apple),0.6,0.8,0.6,1.00,1.25,0.12,inf
6,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
7,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
8,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
9,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
10,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
11,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
12,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
13,"(Eggs, Apple)",(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
14,"(Eggs, Kidney Beans)",(Apple),0.8,0.8,0.8,1.00,1.25,0.16,inf
15,"(Apple, Kidney Beans)",(Eggs),0.8,0.8,0.8,1.00,1.25,0.16,inf
16,(Eggs),"(Apple, Kidney Beans)",0.8,0.8,0.8,1.00,1.25,0.16,inf
17,(Apple),"(Eggs, Kidney Beans)",0.8,0.8,0.8,1.00,1.25,0.16,inf
18,(Kidney Beans),"(Eggs, Apple)",1.0,0.8,0.8,0.80,1.00,0.00,1.0
19,"(Eggs, Apple)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
20,"(Eggs, Onion)",(Apple),0.6,0.8,0.6,1.00,1.25,0.12,inf
21,"(Apple, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
22,(Eggs),"(Apple, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
23,(Apple),"(Eggs, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
24,(Onion),"(Eggs, Apple)",0.6,0.8,0.6,1.00,1.25,0.12,inf
25,"(Apple, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
26,"(Apple, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
27,"(Kidney Beans, Onion)",(Apple),0.6,0.8,0.6,1.00,1.25,0.12,inf
28,(Apple),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
29,(Onion),"(Apple, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
30,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
31,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
32,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
33,(Eggs),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
34,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
35,"(Eggs, Apple, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
36,"(Eggs, Apple, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
37,"(Eggs, Kidney Beans, Onion)",(Apple),0.6,0.8,0.6,1.00,1.25,0.12,inf
38,"(Apple, Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
39,"(Eggs, Apple)","(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
40,"(Eggs, Onion)","(Apple, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
41,"(Eggs, Kidney Beans)","(Apple, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
42,"(Apple, Onion)","(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
43,"(Apple, Kidney Beans)","(Eggs, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
44,"(Kidney Beans, Onion)","(Eggs, Apple)",0.6,0.8,0.6,1.00,1.25,0.12,inf
45,(Eggs),"(Apple, Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
46,(Apple),"(Eggs, Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
47,(Onion),"(Eggs, Apple, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf

In [22]:
#lift{A,B} = lift{B,A} = support{A,B} / (support{A} * support{B})
"""
lift = 1 implies no relationship between A and B. 
   (ie: A and B occur together only by chance)

 * lift > 1 implies that there is a positive relationship between A and B.
   (ie:  A and B occur together more often than random)

 * lift < 1 implies that there is a negative relationship between A and B.
   (ie:  A and B occur together less often than random)
* leverage(A->C) = support(A->C) - support(A)*support(C),
range: [-1, 1]

* conviction = [1 - support(C)] / [1 - confidence(A->C)],
range: [0, inf]
"""

'\nlift = 1 implies no relationship between A and B. \n   (ie: A and B occur together only by chance)\n\n * lift > 1 implies that there is a positive relationship between A and B.\n   (ie:  A and B occur together more often than random)\n\n * lift < 1 implies that there is a negative relationship between A and B.\n   (ie:  A and B occur together less often than random)\n* leverage(A->C) = support(A->C) - support(A)*support(C),\nrange: [-1, 1]\n\n* conviction = [1 - support(C)] / [1 - confidence(A->C)],\nrange: [0, inf]\n'

In [23]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Apple),0.8,0.8,0.8,1.00,1.25,0.16,inf
1,(Apple),(Eggs),0.8,0.8,0.8,1.00,1.25,0.16,inf
2,(Apple),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
3,(Kidney Beans),(Apple),1.0,0.8,0.8,0.80,1.00,0.00,1.0
4,(Apple),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6

In [24]:
#Filtering the rules
rules[ (rules['lift'] >= 1) &
       (rules['confidence'] >= 0.6) ].sort_values(['confidence'], ascending =False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Apple),0.8,0.8,0.8,1.00,1.25,0.16,inf
32,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
21,"(Apple, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
1,(Apple),(Eggs),0.8,0.8,0.8,1.00,1.25,0.16,inf
25,"(Apple, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
27,"(Kidney Beans, Onion)",(Apple),0.6,0.8,0.6,1.00,1.25,0.12,inf
29,(Onion),"(Apple, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
30,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
34,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
17,(Apple),"(Eggs, Kidney Beans)",0.8,0.8,0.8,1.00,1.25,0.16,inf
35,"(Eggs, Apple, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
37,"(Eggs, Kidney Beans, Onion)",(Apple),0.6,0.8,0.6,1.00,1.25,0.12,inf
38,"(Apple, Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
40,"(Eggs, Onion)","(Apple, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
42,"(Apple, Onion)","(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
44,"(Kidney Beans, Onion)","(Eggs, Apple)",0.6,0.8,0.6,1.00,1.25,0.12,inf
20,"(Eggs, Onion)",(Apple),0.6,0.8,0.6,1.00,1.25,0.12,inf
24,(Onion),"(Eggs, Apple)",0.6,0.8,0.6,1.00,1.25,0.12,inf
47,(Onion),"(Eggs, Apple, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
9,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
16,(Eggs),"(Apple, Kidney Beans)",0.8,0.8,0.8,1.00,1.25,0.16,inf
15,"(Apple, Kidney Beans)",(Eggs),0.8,0.8,0.8,1.00,1.25,0.16,inf
2,(Apple),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
14,"(Eggs, Kidney Beans)",(Apple),0.8,0.8,0.8,1.00,1.25,0.16,inf
13,"(Eggs, Apple)",(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
5,(Onion),(Apple),0.6,0.8,0.6,1.00,1.25,0.12,inf
12,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
6,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
11,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
10,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
3,(Kidney Beans),(Apple),1.0,0.8,0.8,0.80,1.00,0.00,1.0
7,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
18,(Kidney Beans),"(Eggs, Apple)",1.0,0.8,0.8,0.80,1.00,0.00,1.0
19,"(Eggs, Apple)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
8,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
31,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
36,"(Eggs, Apple, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
28,(Apple),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
26,"(Apple, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
39,"(Eggs, Apple)","(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
4,(Apple),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
41,"(Eggs, Kidney Beans)","(Apple, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
23,(Apple),"(Eggs, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
43,"(Apple, Kidney Beans)","(Eggs, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
22,(Eggs),"(Apple, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
45,(Eggs),"(Apple, Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
46,(Apple),"(Eggs, Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
33,(Eggs),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6

In [25]:
rules[ (rules['support'] >= 0.8) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Apple),0.8,0.8,0.8,1.0,1.25,0.16,inf
1,(Apple),(Eggs),0.8,0.8,0.8,1.0,1.25,0.16,inf
2,(Apple),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
3,(Kidney Beans),(Apple),1.0,0.8,0.8,0.8,1.00,0.00,1.0
6,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
7,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0
13,"(Eggs, Apple)",(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
14,"(Eggs, Kidney Beans)",(Apple),0.8,0.8,0.8,1.0,1.25,0.16,inf
15,"(Apple, Kidney Beans)",(Eggs),0.8,0.8,0.8,1.0,1.25,0.16,inf
16,(Eggs),"(Apple, Kidney Beans)",0.8,0.8,0.8,1.0,1.25,0.16,inf
17,(Apple),"(Eggs, Kidney Beans)",0.8,0.8,0.8,1.0,1.25,0.16,inf
18,(Kidney Beans),"(Eggs, Apple)",1.0,0.8,0.8,0.8,1.00,0.00,1.0

In [26]:
rules[rules['antecedents']==frozenset({'Apple'})]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Apple),(Eggs),0.8,0.8,0.8,1.00,1.25,0.16,inf
2,(Apple),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
4,(Apple),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
17,(Apple),"(Eggs, Kidney Beans)",0.8,0.8,0.8,1.00,1.25,0.16,inf
23,(Apple),"(Eggs, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
28,(Apple),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
46,(Apple),"(Eggs, Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6

In [27]:
rules[rules['antecedents']>=frozenset({'Apple'})]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Apple),(Eggs),0.8,0.8,0.8,1.00,1.25,0.16,inf
2,(Apple),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
4,(Apple),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
13,"(Eggs, Apple)",(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
15,"(Apple, Kidney Beans)",(Eggs),0.8,0.8,0.8,1.00,1.25,0.16,inf
17,(Apple),"(Eggs, Kidney Beans)",0.8,0.8,0.8,1.00,1.25,0.16,inf
19,"(Eggs, Apple)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
21,"(Apple, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
23,(Apple),"(Eggs, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
25,"(Apple, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
26,"(Apple, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
28,(Apple),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
35,"(Eggs, Apple, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
36,"(Eggs, Apple, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
38,"(Apple, Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
39,"(Eggs, Apple)","(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
42,"(Apple, Onion)","(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
43,"(Apple, Kidney Beans)","(Eggs, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
46,(Apple),"(Eggs, Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6